<h1>About us</h1>
<p>When I say "us", I want to say "me":</p>
<p>My name is <%= link_to "Sergio Schuler", "http://sergioschuler.com" %> and I am learning how 
	to Rails with <%= link_to "One Month Rails", "http://onemonthrails.com" %>.</p>